@use './colors';
@use './main-rules';

// MAIN HEADER

.header {
  background-color: colors.$white;
  height: 90px;
  padding: 0 10px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

//SEARCH
.header__search__input {
  visibility: hidden;
}

.header__searchbar__icon {
  background: none;
  border: none;
}

.header__searchbar__icon::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background: url("../icons/search-icon.svg") no-repeat;
} 

.header__searchbar__icon:active::after {
  transform: scale(0.8);
}

//LOGO
.header .dufte-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

//CART
.header__cart {
  border: none;
  background: none;
  cursor: pointer;
}

.header__cart span {
  visibility: hidden;
}

.header__cart::after {
  display: inline-block;
  width: 30px;
  height: 22px;
  content: "";
  background: url("../icons/shopping-cart.svg") no-repeat;
  position: relative;
  top: 5px;
}

//DESKTOP
@media (min-width: 1024px){
  // MAIN HEADER
  .header__wrapper{
    padding: 0 110px;
    max-width: 1200px;
  }

  .header__searchbar {
    border: 2px solid colors.$black;
    border-radius: 25px;
    padding: 6px;
    width: 300px;
  }

  .header__search__input {
    border: none;
    padding: 5px 0;
    width: 80%;
    font-size: 17px;
  }

  .header__search__input::placeholder {
    color: colors.$black;
    visibility: visible;
  }

  .header__search__input:focus-visible {
    outline: none;
  }

  .header__search__input:focus-visible::placeholder {
    visibility: hidden;
  }

  .header__cart {
    position: relative;
    padding: 0;
  }

  .header__cart span {
    font-size: 17px;
    margin-right: 5px;
    visibility: visible;
  }

}