@use './item-quantity';
@use './colors';

.shoppingContent{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #e9c8ea85;
}
.buyInfoContent{
    width: fit-content;
    margin: 20% auto;
}
.payContent{
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.payContent__text{
  display:block;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 8px;
  color: black;
  font-weight:bold;
}
.payContent__quantityContent{
  margin-top: 10px;
}
.payContent__imgCont{
  margin: 0 15px 0 10px;
  width: 100px;
  height: 100px;
  border-right:2px solid black ;
}
.payContent__img{
  width: 100%;
  height: 100%;
}
.buyInfoContent__closeBnt{
  margin: 0px 0px 15px 0px;
  position: relative;
  box-sizing: border-box;
  background: none;
  border: none;
  cursor: pointer;
}
.buyInfoContent__closeBnt::after {
  display: inline-block;
  width: 30px;
  height: 30px;
  content: "";
  background: url("../icons/close-cart.svg") no-repeat;
}
.buyInfoContent__closeBnt:active::after {
  background-size: 99%;
}
.payContent__removebtn{
  position: relative;
  box-sizing: border-box;
  background: none;
  border: none;
  cursor: pointer;
}
.payContent__removebtn::after{
  display: inline-block;
  width: 35px;
  height: 35px;
  content: "";
  background: url("../imgs/svg/x-circle 1.svg") no-repeat;
}
.payContent__removebtn:active::after {
  background-size: 99%;
}
.buyInfoContent__paybtn{
  box-sizing: border-box;
  background-color: colors.$lightblue;
  color: colors.$white;
  font-size: 12px;
  border-style: none;
  padding: 10px 30px;
  border-radius: 50px;
  transition-duration: 0.3s;
  transition-property: transform;
}
.buyInfoContent__paybtn:hover {
  background-color: darken(colors.$lightblue, 10%);
  transform: scale(1.1);
}
@media (min-width: 768px){
  .shoppingContent{
    min-width: 700px;
    width: 100%;
  }

  .buyInfoContent{
    margin: 5% auto;
}
  
  .payContent__text{
    font-size: 24px;
    margin-bottom: 28px;
  }
  
  .payContent__imgCont{
    width: 200px;
    height: 200px;
    margin: 0 60px;
  }
  
  .buyInfoContent__closeBnt{
    margin: 0px 0px 15px 0px;
  }
  .buyInfoContent__paybtn{
    padding: 10px 40px;
    font-size: 24px;
    margin: 0 15px 0px 50px
  }
}