* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f7;
  font-family: "Inter", "sans-serif";
  font-size: 16px;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.dufte-title {
  font-family: "Playfair Display", "serif";
  font-size: 30px;
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.not-shown {
  display: none;
}

.btn--lightblue {
  box-sizing: border-box;
  background-color: #33abee;
  color: #fff;
  font-size: 16px;
  border-style: none;
  padding: 10px 30px;
  border-radius: 50px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.btn--lightblue:hover {
  background-color: #1294dc;
  transform: scale(1.1);
}

.btn--black {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 50px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.btn--black:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  transform: scale(1.1);
}

.hero-section {
  background-color: #000;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-section__info--title {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin: 0;
  color: #fff;
}

.hero-section__info--subtitle {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
  color: #fff;
}

.hero-section__info--description {
  margin: 0;
  text-align: center;
  color: #fff;
}

.hero-section__info--btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.hero-section__info--btn a:first-child {
  margin-right: 20px;
}

.hero-section__info--btn .btn--black {
  padding: 10px 20px;
}

.hero-section__picture {
  position: relative;
  height: fit-content;
}

.hero-section__picture__img {
  display: block;
  margin: 40px auto 0 auto;
  width: 200px;
  position: relative;
}

.hero-section__picture__reflect {
  background: url(../../images/hero-headphones.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  transform: scaleY(-1);
  bottom: -93%;
  left: 18%;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .hero-section {
    height: 600px;
  }

  .hero-section--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
  }

  .hero-section__info--title {
    font-size: 26px;
  }

  .hero-section__info--subtitle {
    font-size: 32px;
    margin: 30px 0;
  }

  .hero-section__info--description {
    font-size: 18px;
  }

  .hero-section__info--btn {
    margin-top: 50px;
  }

  .hero-section__info--btn .btn--black {
    padding: 10px 25px;
  }

  .hero-section__picture__img {
    margin: 0;
    width: 350px;
  }

  .hero-section__picture__reflect {
    width: 350px;
    height: 350px;
    left: 0;
  }
}
@media (min-width: 1024px) {
  .hero-section {
    height: 750px;
  }

  .hero-section--flex {
    width: 1024px;
  }

  .hero-section__info--title {
    font-size: 32px;
  }

  .hero-section__info--subtitle {
    font-size: 38px;
    margin: 40px 0;
  }

  .hero-section__info--description {
    font-size: 22px;
  }

  .hero-section__info--btn {
    margin-top: 60px;
  }

  .hero-section__info--btn a:first-child {
    margin-right: 30px;
  }

  .hero-section__info--btn .btn--black {
    padding: 15px 35px;
  }

  .hero-section__picture__img {
    margin: 0;
    width: 500px;
  }

  .hero-section__picture__reflect {
    width: 500px;
    height: 500px;
    left: 0;
  }
}
.visualizer {
  width: 200px;
  margin: 0 auto;
}

.visualizer__box {
  position: relative;
}

.visualizer__box__img {
  width: 150px;
  height: 180px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.visualizer__box__anchor {
  text-align: center;
  font-size: 22px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.visualizer__box__anchor--align {
  text-align: center;
}

.visualizer__box .visualizer__box__anchor::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.visualizer__box:hover .visualizer__box__img {
  transform: scale(1.1);
}

.visualizer__box:hover .visualizer__box__anchor {
  transform: scale(1.1);
  transform: translateY(5px);
  font-weight: 700;
}

@media (min-width: 768px) {
  .visualizer {
    display: flex;
    justify-content: space-evenly;
    min-width: 768px;
    width: 100%;
    max-width: 860px;
    margin-top: 50px;
    overflow-x: scroll;
    padding: 20px 10px 5px;
  }

  .visualizer__box__img {
    width: 200px;
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .visualizer {
    min-width: 1024px;
    width: 100%;
    max-width: 1200px;
    margin-top: 100px;
    overflow-x: scroll;
  }

  .visualizer__box__img {
    width: 280px;
    height: 330px;
  }
}
.payment {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
}
.payment h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
}
.payment .payment-form {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}
.payment .payment-form .payment-form__input {
  border-radius: 10px;
  border: 1px solid #A8A2A2;
  width: 920px;
  height: 70px;
  padding: 5px;
  margin: 5px;
}
.payment .payment-form ::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #A8A2A2;
}
.payment .payment-product {
  font-size: 24px;
}
.payment .payment-product h3 {
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
}
.payment .payment-product img {
  width: 60%;
  height: 60%;
}
.payment .payment-product .payment-product__quantity {
  border: 1px solid;
  padding: 6px;
  border-radius: 10px;
  background: white;
  height: 49px;
  width: 59;
  width: 56px;
  text-align: center;
}
.payment .payment-product .payment-product__price {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.payment .payment-product .payment-product__price p:first-child {
  margin-right: 60px;
  width: 120px;
}
.payment .payment-product .payment-product__line {
  border-bottom: 2px solid;
  padding-bottom: 10px;
}
.payment .payment-product .btn--lightblue--payment {
  width: 287px;
  height: 81px;
  font-size: 24px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .payment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .payment h1 {
    font-size: 24px;
  }
  .payment .payment-form {
    margin-bottom: 40px;
  }
  .payment .payment-form .payment-form__input {
    width: 560px;
    height: 70px;
  }
  .payment .payment-product h3 {
    font-size: 24px;
  }
  .payment .payment-product .payment-product__elements {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  .payment .payment-product .payment-product__price {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
  }
  .payment .payment-product .btn--lightblue--payment {
    margin-top: 20px;
    height: 60px;
    width: 223px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .payment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .payment h1 {
    font-size: 18px;
  }
  .payment .payment-form {
    margin-bottom: 40px;
  }
  .payment .payment-form .payment-form__input {
    width: 254px;
    height: 23px;
  }
  .payment .payment-form ::placeholder {
    font-size: 14px;
  }
  .payment .payment-product h3 {
    font-size: 18px;
  }
  .payment .payment-product .payment-product__elements {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  .payment .payment-product .payment-product__price {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
  }
  .payment .payment-product .btn--lightblue--payment {
    margin-top: 20px;
    height: 20px;
    width: 61px;
  }
}

/*# sourceMappingURL=styles.css.map */
