* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f7;
  font-family: "Inter", "sans-serif";
  font-size: 16px;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.dufte-title {
  font-family: "Playfair Display", "serif";
  font-size: 30px;
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.not-shown {
  display: none;
}

.btn--lightblue {
  display: inline-block;
  box-sizing: border-box;
  background-color: #33abee;
  color: #fff;
  font-size: 16px;
  border-style: none;
  padding: 10px 30px;
  border-radius: 50px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.btn--lightblue:hover {
  background-color: #1294dc;
  transform: scale(1.1);
}

.btn--black {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 50px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.btn--black:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  transform: scale(1.1);
}

.hero-section {
  background-color: #000;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-section__info--title {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin: 0;
  color: #fff;
}

.hero-section__info--subtitle {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
  color: #fff;
}

.hero-section__info--description {
  margin: 0;
  text-align: center;
  color: #fff;
}

.hero-section__info--btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.hero-section__info--btn a:first-child {
  margin-right: 20px;
}

.hero-section__info--btn .btn--black {
  padding: 10px 20px;
}

.hero-section__picture {
  position: relative;
  height: fit-content;
}

.hero-section__picture__img {
  display: block;
  margin: 40px auto 0 auto;
  width: 200px;
  position: relative;
}

.hero-section__picture__reflect {
  background: url(../../images/hero-headphones.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  transform: scaleY(-1);
  bottom: -93%;
  left: 18%;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .hero-section {
    height: 600px;
  }
  .hero-section--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
  }
  .hero-section__info--title {
    font-size: 26px;
  }
  .hero-section__info--subtitle {
    font-size: 32px;
    margin: 30px 0;
  }
  .hero-section__info--description {
    font-size: 18px;
  }
  .hero-section__info--btn {
    margin-top: 50px;
  }
  .hero-section__info--btn .btn--black {
    padding: 10px 25px;
  }
  .hero-section__picture__img {
    margin: 0;
    width: 350px;
  }
  .hero-section__picture__reflect {
    width: 350px;
    height: 350px;
    left: 0;
  }
}
@media (min-width: 1024px) {
  .hero-section {
    height: 750px;
  }
  .hero-section--flex {
    width: 1024px;
  }
  .hero-section__info--title {
    font-size: 32px;
  }
  .hero-section__info--subtitle {
    font-size: 38px;
    margin: 40px 0;
  }
  .hero-section__info--description {
    font-size: 22px;
  }
  .hero-section__info--btn {
    margin-top: 60px;
  }
  .hero-section__info--btn a:first-child {
    margin-right: 30px;
  }
  .hero-section__info--btn .btn--black {
    padding: 15px 35px;
  }
  .hero-section__picture__img {
    margin: 0;
    width: 500px;
  }
  .hero-section__picture__reflect {
    width: 500px;
    height: 500px;
    left: 0;
  }
}
.visualizer {
  min-width: 320px;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-evenly;
}

.visualizer__box {
  position: relative;
}

.visualizer__box__img {
  width: 80px;
  height: 90px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.visualizer__box__anchor {
  text-align: center;
  font-size: 12px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.visualizer__box__anchor--align {
  text-align: center;
}

.visualizer__box .visualizer__box__anchor::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.visualizer__box:hover .visualizer__box__img {
  transform: scale(1.1);
}

.visualizer__box:hover .visualizer__box__anchor {
  transform: scale(1.1);
  transform: translateY(5px);
  font-weight: 700;
}

@media (min-width: 768px) {
  .visualizer {
    min-width: 768px;
    width: 100%;
    max-width: 860px;
    margin-top: 50px;
    overflow-x: scroll;
    padding: 20px 10px 5px;
  }
  .visualizer__box__img {
    width: 200px;
    height: 250px;
    margin-bottom: 20px;
  }
  .visualizer__box__anchor {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .visualizer {
    min-width: 1024px;
    width: 100%;
    max-width: 1200px;
    margin-top: 100px;
    overflow-x: scroll;
  }
  .visualizer__box__img {
    width: 280px;
    height: 330px;
    margin-bottom: 30px;
  }
  .visualizer__box__anchor {
    font-size: 24px;
  }
}
.quantity__btn--add, .quantity__btn--substract {
  position: relative;
  box-sizing: border-box;
  background: none;
  border: none;
  cursor: pointer;
}

.quantity__btn--add::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background: url("../../icons/plus-icon.svg") no-repeat;
}

.quantity__btn--add:active::after {
  transform: scale(0.8);
}

.quantity__btn--substract::after {
  position: relative;
  top: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background: url("../../icons/substrat-icon.svg") no-repeat;
}

.quantity__btn--substract:active::after {
  transform: scale(0.8);
}

.quantity__counter {
  text-align: center;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 0 10px;
}

.preview {
  margin-top: 20px;
}

.preview__gallery {
  position: relative;
  height: 380px;
}

.preview__gallery--flex {
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  max-width: 380px;
  margin: 0 auto;
  position: relative;
  top: 250px;
}

.preview__gallery-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 110px;
  background-color: #fff;
}

.preview__gallery-pic:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.preview__gallery-pic img {
  width: 100px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.preview__gallery--main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 230px;
  background-color: #fff;
  margin: auto;
  position: relative;
}

.preview__gallery--main img {
  width: 200px;
}

.preview__gallery-btn--left {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: -30px;
  top: 95px;
}

.preview__gallery-btn--right {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 220px;
  top: 95px;
}

.preview__gallery--main {
  position: relative;
  width: fit-content;
  margin: auto;
  top: -80px;
  bottom: 0;
  left: 0;
  right: 0;
}

.preview__gallery-btn--left::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background: url(../icons/left-arrow.svg) no-repeat;
}

.preview__gallery-btn--right::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background: url(../icons/right-arrow.svg) no-repeat;
}

.preview__gallery-btn--right:active::after {
  transform: scale(0.8);
}

.preview__gallery-btn--left:active::after {
  transform: scale(0.8);
}

.product-customize {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  min-width: 320px;
  max-width: 380px;
}

.product-customize__pricing {
  margin-right: 40px;
}

.product-customize__pricing--title {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 5px;
}

.product-customize__pricing--amount {
  font-size: 20px;
  margin: 0;
}

.product-customize__color--title {
  font-size: 20px;
  margin-bottom: 5px;
}

.product-customize__color input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition-duration: 0.3s;
  transition-property: transform;
}

.product-customize__color input:nth-child(odd) {
  margin: 0 2px;
}

.product-customize__color input:hover {
  transform: scale(1.2);
}

.product-customize__color input:checked {
  border: 2.5px solid #33abee;
}

.product-customize__color--pink {
  background-color: #e9c8ea;
}

.product-customize__color--white {
  background-color: #fff;
  border: 1px solid #cccccc;
}

.product-customize__color--black {
  background-color: #000;
}

.product-customize__color--black-red {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 49%, rgb(90, 12, 12) 49%);
}

.product-customize__quantity--btn {
  width: fit-content;
  margin: 50px auto;
}

.product-customize__btn {
  width: fit-content;
  margin: 0 auto;
}

.product-customize__btn .btn--lightblue {
  margin-right: 10px;
}

.product__share {
  width: fit-content;
  margin: 40px auto;
}

.product__share a {
  display: inline-block;
  margin: 0 10px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.product__share a:hover {
  transform: scale(1.1);
}

.product__share-title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.product__share-social--instagram::after {
  content: url(../../icons/instagram-black.svg);
}

.product__share-social--facebook::after {
  content: url(../../icons/facebook-black.svg);
}

.product__share-social--email::after {
  content: url(../../icons/email-black.svg);
}

.product__description {
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
}

.product__description-title {
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 20px 20px;
}

.product__description-info {
  background-color: #fff;
  margin: 0 20px;
  padding: 30px 40px;
}

.product__description-info li {
  list-style: disc;
}

@media (min-width: 768px) {
  .preview {
    margin-top: 40px;
  }
  .preview__gallery {
    height: fit-content;
    display: flex;
    width: fit-content;
    margin: 0 auto;
  }
  .preview__gallery--flex {
    display: grid;
    row-gap: 10px;
    justify-content: normal;
    min-width: auto;
    max-width: none;
    margin: 0;
    top: auto;
  }
  .preview__gallery-pic {
    height: 130px;
    width: 130px;
  }
  .preview__gallery-pic img {
    width: 120px;
  }
  .preview__gallery--main {
    height: initial;
    margin: 0 0 0 10px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
  .preview__gallery--main img {
    width: 400px;
  }
  .preview__gallery-btn--left {
    display: none;
  }
  .preview__gallery-btn--right {
    display: none;
  }
  .product-customize {
    margin: 20px auto 0;
    width: 540px;
    min-width: initial;
    max-width: initial;
  }
  .product__description {
    min-width: 768px;
    max-width: 900px;
  }
}
@media (min-width: 1024px) {
  .preview {
    display: flex;
    width: fit-content;
    margin: 60px auto 0;
  }
  .preview__gallery {
    max-height: 480px;
  }
  .preview__gallery--flex {
    row-gap: 15px;
  }
  .preview__gallery-pic {
    height: 150px;
    width: 150px;
  }
  .preview__gallery-pic img {
    width: 140px;
  }
  .preview__pic--main img {
    max-width: 430px;
    max-height: 460px;
  }
  .preview__gallery--main {
    width: 450px;
    margin: 0 0 0 15px;
  }
  .preview__list {
    margin: 0;
  }
  .preview__info {
    display: grid;
    row-gap: 10px;
    justify-content: stretch;
    align-items: stretch;
    width: fit-content;
    margin-left: 40px;
  }
  .product-customize {
    display: block;
    margin: 0;
    width: auto;
  }
  .product-customize__pricing {
    margin: 0 0 20px 0;
  }
  .product-customize__quantity--btn {
    margin: 0 0 30px 0;
  }
  .product__share {
    margin: 0;
  }
  .product__share-title {
    text-align: initial;
  }
  .product__share a {
    margin: 0;
  }
  .product__share a:nth-child(odd) {
    margin: 0 10px;
  }
  .product__description {
    min-width: 1024px;
    max-width: 1200px;
    margin-top: 60px;
  }
}
.header {
  background-color: #fff;
  height: 90px;
  padding: 0 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header__title--padding {
  padding: 20px;
  text-align: center;
}

.header__searchbar-input {
  visibility: hidden;
}

.header__searchbar-icon {
  background: none;
  border: none;
}

.header__searchbar-icon::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background: url("../icons/search-icon.svg") no-repeat;
}

.header__searchbar-icon:active::after {
  transform: scale(0.8);
}

.header .dufte-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.header__cart {
  border: none;
  background: none;
  cursor: pointer;
}

.header__cart span {
  visibility: hidden;
}

.header__cart::after {
  display: inline-block;
  width: 30px;
  height: 22px;
  content: "";
  background: url("../icons/shopping-cart.svg") no-repeat;
  position: relative;
  top: 5px;
}

@media (min-width: 1024px) {
  .header-wrapper {
    padding: 0 110px;
    max-width: 1200px;
  }
  .header__searchbar {
    border: 2px solid #000;
    border-radius: 25px;
    padding: 6px;
    width: 300px;
  }
  .header__searchbar-input {
    visibility: visible;
    border: none;
    padding: 5px 0;
    width: 80%;
    font-size: 17px;
  }
  .header__searchbar-input::placeholder {
    color: #000;
    visibility: visible;
  }
  .header__searchbar-input:focus-visible {
    outline: none;
  }
  .header__searchbar-input:focus-visible::placeholder {
    visibility: hidden;
  }
  .header__cart {
    position: relative;
    padding: 0;
  }
  .header__cart span {
    font-size: 17px;
    margin-right: 5px;
    visibility: visible;
  }
}
.footer {
  margin-top: 20px;
  background-color: #000;
  width: 100%;
  color: #fff;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer__stroke {
  position: absolute;
  top: 0;
  width: 100%;
  height: 8px;
  background-color: #33abee;
}

.footer a {
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.footer-wrapper {
  margin: 0 auto;
  padding: 0 50px;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
}

.footer-info--flex {
  display: flex;
  justify-content: space-between;
}

.footer__list--margin {
  margin-left: 30px;
}

.footer__list p {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 15px 0;
}

.footer__list li {
  margin-bottom: 15px;
}

.footer-social {
  text-align: center;
  margin: 40px 0;
}

.footer-social__instagram::after {
  content: url(../icons/instagram-icon.svg);
  margin-right: 20px;
}

.footer-social__facebook::after {
  content: url(../icons/facebook-icon.svg);
}

.footer-social__email::after {
  content: url(../icons/email-icon.svg);
  margin-left: 20px;
}

.footer__rights {
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    height: 450px;
    margin-top: 40px;
  }
  .footer__stroke {
    height: 12px;
  }
  .footer-wrapper {
    min-width: 768px;
    max-width: 900px;
  }
  .footer__list--margin {
    margin-left: 80px;
  }
  .footer__list p {
    font-size: 20px;
  }
  .footer a {
    font-size: 14px;
  }
  .footer--flex {
    display: flex;
    justify-content: space-between;
  }
  .footer-social {
    margin: 0;
  }
  .footer__rights {
    font-size: 14px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}
@media (min-width: 1024px) {
  .footer {
    margin-top: 60px;
  }
  .footer-wrapper {
    min-width: 900px;
    max-width: 1024px;
  }
  .footer__list--margin {
    margin-left: 100px;
  }
  .footer__list p {
    font-weight: 700;
    font-size: 22px;
    margin: 0 0 40px 0;
  }
  .footer a {
    font-size: 18px;
  }
  .footer__rights {
    font-size: 18px;
  }
}
.payment {
  width: 100%;
}
.payment h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}
.payment h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 14px;
}
.payment p {
  font-size: 12px;
}

.payment-box {
  width: 100%;
}

.payment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.payment-form__input {
  width: 200px;
  height: 30px;
  border: 1px solid #aba2a2;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #fff;
}

::placeholder {
  color: #000;
  padding-left: 10px;
  font-size: 12px;
}

.payment-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-product__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.payment-product__price p:first-child {
  width: 100px;
}

.payment-product__price--line {
  border-bottom: 2px solid #f5f5f7;
}

.payment-product__elements {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.payment-product__quantity {
  background-color: #fff;
  font-size: 12px;
  border: 2px solid;
  border-radius: 8px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.payment-product__button {
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .payment {
    width: 100%;
  }
  .payment h1 {
    font-size: 20px;
  }
  .payment h3 {
    font-size: 18px;
  }
  .payment p {
    font-size: 14px;
  }
  .payment ::placeholder {
    font-size: 14px;
  }
  .payment-form {
    margin: 30px;
  }
  .payment-form__input {
    width: 560px;
    height: 50px;
    border-radius: 10px;
  }
  .payment-product__button {
    width: 140px;
    height: 44px;
  }
}
@media (min-width: 1024px) {
  .payment {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .payment h1 {
    font-size: 22px;
    text-align: left;
    margin-left: 56px;
  }
  .payment h3 {
    font-size: 18px;
  }
  .payment p {
    font-size: 16px;
  }
  .payment ::placeholder {
    font-size: 16px;
  }
  .payment-product {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .payment-product__elements {
    display: flex;
    flex-direction: column;
  }
}
.cart {
  min-height: 350px;
  background-color: #f5f5f7;
  padding: 20px;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  display: none;
  box-shadow: -2px 3px 5px 2px rgba(0, 0, 0, 0.2);
}

.cart:target {
  display: block;
}

.cart__close-btn {
  border: none;
  background-color: transparent;
  display: inline-block;
}

.cart__close-btn::after {
  display: inline-block;
  width: 25px;
  height: 20px;
  content: "";
  background: url(../icons/close-remove-icon.svg) no-repeat;
  background-size: 100%;
}

.cart__close-btn:active::after {
  transform: scale(0.8);
}

.cart-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cart-wrapper__btn {
  border: none;
  background: transparent;
}

.cart-wrapper__btn::after {
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
  background: url(../icons/close-remove-icon.svg) no-repeat;
  background-size: 100%;
}

.cart-wrapper__btn:active::after {
  transform: scale(0.8);
}

.cart-wrapper__img {
  width: 100px;
  margin: 0 10px;
}

.cart-wrapper__info {
  padding-left: 20px;
  border-left: 2px solid #a0a0b3;
}

.cart-wrapper__info .btn--lightblue {
  margin-top: 30px;
}

.cart-wrapper__info-details p {
  margin-bottom: 10px;
}

.cart-wrapper__info-details-color {
  height: 20px;
  width: 20px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: solid 2px #999999;
}

.cart-wrapper__info-details-quantity .quantity__counter {
  margin: 0;
}

@media (min-width: 768px) {
  .cart-wrapper__img {
    margin: 0 20px;
  }
  .cart-wrapper__info {
    padding-left: 30px;
    border-left: 2px solid #a0a0b3;
    display: flex;
    align-items: center;
  }
  .cart-wrapper__info .btn--lightblue {
    margin: 0 0 0 30px;
  }
}
@media (min-width: 1024px) {
  .cart-wrapper__img {
    margin: 0 40px;
  }
  .cart-wrapper__info {
    padding-left: 40px;
    border-left: 2px solid #a0a0b3;
    display: flex;
    align-items: center;
  }
  .cart-wrapper__info-details p {
    margin-bottom: 20px;
  }
  .cart-wrapper__info .btn--lightblue {
    margin: 0 0 0 30px;
  }
  .cart-wrapper__info-details-color {
    height: 25px;
    width: 25px;
    margin-bottom: 20px;
  }
}
.confirmCont {
  padding: 51px 0;
  width: 100%;
  background-color: #fff;
}

.confirmCont__descript {
  width: 85%;
  margin: 0 auto;
}

.confirm__list {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.confirmCont__datas {
  display: flex;
  padding: 5px 0;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 20px;
}

.confirmCont__datasimgCont {
  width: 60px;
  height: 60px;
}

.confirmCont__img {
  width: 100%;
  height: 100%;
}

.confirmCont__datasText {
  font-size: 12px;
  width: 55px;
  text-align: center;
}

.addBtn {
  background-color: white;
  border: none;
  color: gray;
  font-size: 14px;
  margin: 5px 0px 25px 0px;
  cursor: pointer;
}

.addBtn:hover {
  transform: scale(1.1);
}

.addBtn:active::after {
  background-size: 99%;
}

.confirmCont__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .addBtn {
    font-size: 20px;
  }
  .confirmCont__datasText {
    font-size: 18px;
    width: 90px;
  }
  .confirmCont__btns .buyInfoContent__paybtn {
    font-size: 20px;
  }
  .confirm__list {
    font-size: 18px;
  }
  .confirmCont__datasimgCont {
    width: 90px;
    height: 85px;
  }
}
@media (min-width: 1024px) {
  .addBtn {
    font-size: 24px;
  }
  .confirmCont__datasText {
    font-size: 22px;
    width: 100px;
  }
  .confirm__list {
    font-size: 22px;
  }
  .confirmCont__datasimgCont {
    width: 105px;
    height: 100px;
  }
  .confirmCont__btns .buyInfoContent__paybtn {
    font-size: 24px;
  }
}

/*# sourceMappingURL=styles.css.map */
