* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f7;
  font-family: "Inter", "sans-serif";
  font-size: 16px;
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.dufte-title {
  font-family: "Playfair Display", "serif";
  font-size: 30px;
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.not-shown {
  display: none;
}

.btn--lightblue {
  box-sizing: border-box;
  background-color: #33abee;
  color: #fff;
  font-size: 16px;
  border-style: none;
  padding: 10px 30px;
  border-radius: 50px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.btn--lightblue:hover {
  background-color: #1294dc;
  transform: scale(1.1);
}

.btn--black {
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 30px;
  border-radius: 50px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.btn--black:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  transform: scale(1.1);
}

.hero-section {
  background-color: #000;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-section__info--title {
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  margin: 0;
  color: #fff;
}

.hero-section__info--subtitle {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
  color: #fff;
}

.hero-section__info--description {
  margin: 0;
  text-align: center;
  color: #fff;
}

.hero-section__info--btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.hero-section__info--btn a:first-child {
  margin-right: 20px;
}

.hero-section__info--btn .btn--black {
  padding: 10px 20px;
}

.hero-section__picture {
  position: relative;
  height: fit-content;
}

.hero-section__picture__img {
  display: block;
  margin: 40px auto 0 auto;
  width: 200px;
  position: relative;
}

.hero-section__picture__reflect {
  background: url(../images/hero-headphones.png);
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  transform: scaleY(-1);
  bottom: -93%;
  left: 18%;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .hero-section {
    height: 600px;
  }
  .hero-section--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
  }
  .hero-section__info--title {
    font-size: 26px;
  }
  .hero-section__info--subtitle {
    font-size: 32px;
    margin: 30px 0;
  }
  .hero-section__info--description {
    font-size: 18px;
  }
  .hero-section__info--btn {
    margin-top: 50px;
  }
  .hero-section__info--btn .btn--black {
    padding: 10px 25px;
  }
  .hero-section__picture__img {
    margin: 0;
    width: 350px;
  }
  .hero-section__picture__reflect {
    width: 350px;
    height: 350px;
    left: 0;
  }
}
@media (min-width: 1024px) {
  .hero-section {
    height: 750px;
  }
  .hero-section--flex {
    width: 1024px;
  }
  .hero-section__info--title {
    font-size: 32px;
  }
  .hero-section__info--subtitle {
    font-size: 38px;
    margin: 40px 0;
  }
  .hero-section__info--description {
    font-size: 22px;
  }
  .hero-section__info--btn {
    margin-top: 60px;
  }
  .hero-section__info--btn a:first-child {
    margin-right: 30px;
  }
  .hero-section__info--btn .btn--black {
    padding: 15px 35px;
  }
  .hero-section__picture__img {
    margin: 0;
    width: 500px;
  }
  .hero-section__picture__reflect {
    width: 500px;
    height: 500px;
    left: 0;
  }
}
.visualizer {
  width: 200px;
  margin: 0 auto;
}

.visualizer__box {
  position: relative;
}

.visualizer__box__img {
  width: 150px;
  height: 180px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.visualizer__box__anchor {
  text-align: center;
  font-size: 22px;
  transition-duration: 0.3s;
  transition-property: transform;
}

.visualizer__box__anchor--align {
  text-align: center;
}

.visualizer__box .visualizer__box__anchor::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.visualizer__box:hover .visualizer__box__img {
  transform: scale(1.1);
}

.visualizer__box:hover .visualizer__box__anchor {
  transform: scale(1.1);
  transform: translateY(5px);
  font-weight: 700;
}

@media (min-width: 768px) {
  .visualizer {
    display: flex;
    justify-content: space-evenly;
    min-width: 768px;
    width: 100%;
    max-width: 860px;
    margin-top: 50px;
    overflow-x: scroll;
    padding: 20px 10px 5px;
  }
  .visualizer__box__img {
    width: 200px;
    height: 250px;
  }
}
@media (min-width: 1024px) {
  .visualizer {
    min-width: 1024px;
    width: 100%;
    max-width: 1200px;
    margin-top: 100px;
    overflow-x: scroll;
  }
  .visualizer__box__img {
    width: 280px;
    height: 330px;
  }
}
.header {
  background-color: #fff;
  height: 90px;
  padding: 0 10px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header__search__input {
  visibility: hidden;
}

.header__searchbar__icon {
  background: none;
  border: none;
}

.header__searchbar__icon::after {
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  background: url("../icons/search-icon.svg") no-repeat;
}

.header__searchbar__icon:active::after {
  transform: scale(0.8);
}

.header .dufte-title {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.header__cart {
  border: none;
  background: none;
  cursor: pointer;
}

.header__cart span {
  visibility: hidden;
}

.header__cart::after {
  display: inline-block;
  width: 30px;
  height: 22px;
  content: "";
  background: url("../icons/shopping-cart.svg") no-repeat;
  position: relative;
  top: 5px;
}

@media (min-width: 1024px) {
  .header__wrapper {
    padding: 0 110px;
    max-width: 1200px;
  }
  .header__searchbar {
    border: 2px solid #000;
    border-radius: 25px;
    padding: 6px;
    width: 300px;
  }
  .header__search__input {
    border: none;
    padding: 5px 0;
    width: 80%;
    font-size: 17px;
  }
  .header__search__input::placeholder {
    color: #000;
    visibility: visible;
  }
  .header__search__input:focus-visible {
    outline: none;
  }
  .header__search__input:focus-visible::placeholder {
    visibility: hidden;
  }
  .header__cart {
    position: relative;
    padding: 0;
  }
  .header__cart span {
    font-size: 17px;
    margin-right: 5px;
    visibility: visible;
  }
}
footer {
  background-color: #000;
  width: 100%;
  color: #fff;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #fff;
  cursor: pointer;
  font-size: 12px;
}

.footer__wrapper {
  margin: 0 auto;
  padding: 0 50px;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
}

.footer--flex {
  display: flex;
  justify-content: space-between;
}

.footer__list--about-us {
  margin-left: 30px;
}

.footer__list p {
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 15px 0;
}

.footer__list li {
  margin-bottom: 15px;
}

.footer__social {
  text-align: center;
  padding: 40px 0;
}

.footer__social--instagram::after {
  content: url(../icons/instagram-icon.svg);
  margin-right: 20px;
}

.footer__social--facebook::after {
  content: url(../icons/facebook-icon.svg);
}

.footer__social--email::after {
  content: url(../icons/email-icon.svg);
  margin-left: 20px;
}

.footer__rights {
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    height: 343px;
  }
  .footer__wrapper {
    min-width: 768px;
    max-width: 900px;
  }
  .footer__list--about-us {
    margin-left: 80px;
  }
  .footer__list p {
    font-size: 20px;
  }
  footer a {
    font-size: 14px;
  }
  .footer--flex-social-media {
    display: flex;
    justify-content: space-between;
  }
  .footer__rights {
    font-size: 14px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}
@media (min-width: 1024px) {
  .footer__wrapper {
    min-width: 900px;
    max-width: 1024px;
  }
  .footer__list--about-us {
    margin-left: 100px;
  }
  .footer__list p {
    font-weight: 700;
    font-size: 22px;
    margin: 0 0 40px 0;
  }
  footer a {
    font-size: 18px;
  }
  .footer__rights {
    font-size: 18px;
  }
}

/*# sourceMappingURL=styles.css.map */
